@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap");

:root {
  /*Colours*/
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

img,
svg {
  display: block;
  width: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--Very-dark-blue-main-BG);
}

main {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: var(--Very-dark-blue-card-BG);
  margin: 0;
  text-align: center;
  border-radius: 2%;
  max-width: 350px;
  margin: 0 auto;
  padding: 1.5rem;
}

.hero-image {
  border-radius: 0.5rem;
  overflow: hidden;
}

.hero-image div::before {
  /* overflow: hidden; */
  visibility: hidden;
  color: white;
  /* z-index: -1; */
}

.hero-image div:hover::before {
  /* z-index: 2; */
  display: flex;
  position: absolute;
  content: url("./images/icon-view.svg");
  
  width: 350px;
  height: 349px;
  border-radius: 0.5rem;
  background: hsl(178, 100%, 50%, 50%);
  justify-content: center;
  align-items: center;
  visibility: visible;
  cursor: pointer;
}

.balance {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.balance img {
  /**This is to set smaller size for the logo*/
  width: max-content;
}

h1 {
  /* padding: 10px; */
  text-align: left;
  color: var(--White);
  font-size: 1rem;
  font-weight: 600;
}

h1:hover,
.text-mute span:hover {
  color: var(--Cyan);
  cursor: pointer;
}

p {
  /*padding: 15px;*/
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  color: var(--Soft-blue);
}

.hr {
  margin: 0 auto;
  background-color: var(--Soft-blue);
  height: 1px;
  width: 100%;
}

.eth {
  /**/
  color: var(--Cyan);
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 0.5rem;
}

.days {
  display: flex;
  color: var(--Soft-blue);
  font-weight: 400;
  gap: 0.5rem;
}

.avatar {
  border: 2px solid var(--White);
  width: 30px;
  border-radius: 50%;
  /* margin: 0 auto; */
}

.text-mute {
  display: flex;
  font-size: 0.9rem;
  color: var(--Soft-blue);
  font-weight: 300;
  align-items: center;
  gap: 2.5rem;
  margin-top: 10px;
}

.text-mute span {
  color: var(--White);
}

.eth span {
  font-size: 0.8rem;
  color: var(--Cyan);
}

.days span {
  font-size: 0.8rem;
  color: var(--Soft-blue);
}

/* Media Screen*/

@media only screen and (min-device-width: 375px) and (max-device-width: 1440px) {
  main {
    display: flex;
  }
}
